/**
 * Table of Contents:
 *
 * 0.0 Reset
 * 1.0 - Valentine's Day
 *   1.1 - Classic
 *   1.2 - Roses
 *   1.3 - Birds
 *   1.4 - Blue Birds
 * 2.0 - Xmas Style
 *   2.1 - Classic
 *   2.2 - Red
 *   2.3 - Simple
 * ----------------------------------------------------------------------------- 
 */


 /**
 * Reset
 *
 * 0.0 - Reset
 * ----------------------------------------------------------------------------- 
 */
  .cf7-style * {
  	-moz-box-sizing: initial;
  	-webkit-box-sizing: initial;
  	box-sizing: initial;
  }
 .cf7-style input[type="text"], 
 .cf7-style input[type="email"], 
 .cf7-style input[type="url"],
 .cf7-style input[type="password"],
 .cf7-style input[type="search"],
 .cf7-style textarea {
 	padding: 0;
 }
 .cf7-style input:focus,
 .cf7-style textarea:focus,
 .cf7-style input[ type="submit" ]:hover {
 	background-color: inherit;
 	border: 0;
 }

/**
 * Valentine's Day
 *
 * 1.1 - Classic
 * ----------------------------------------------------------------------------- 
 */
.valentines-day-classic {
	background:  url('../images/vday-classic/hearted-bg.png') -45px 0 repeat;
	position: relative;
}
.valentines-day-classic .heart {
	position: absolute;
	right:0;
	background: url('../images/vday-classic/big-heart.png')  0 0 no-repeat;
	width: 136px;
	height: 135px;
	top:-90px;
}
.valentines-day-classic p {
	margin-bottom: 10px;
	text-shadow: 1px 1px #FFF;
}
.valentines-day-classic input,
.valentines-day-classic textarea {
	background: rgba(255,255,255,0.7);
	border: none;
	border-left: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-box-shadow: 5px 6px 10px -5px #999999;
	-moz-box-shadow: 5px 6px 10px -5px #999999;
	box-shadow: 5px 6px 10px -5px #999999;
	margin-top: 3px;
}
.valentines-day-classic input:focus,
.valentines-day-classic textarea:focus {
	background: rgba(255,255,255,0.7);
	border-left: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
}
.valentines-day-classic .wpcf7-submit {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: none;
	padding: 20px;
	min-width: 90px;
	background: rgb(125,185,232); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDU0ZTRlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzklIiBzdG9wLWNvbG9yPSIjZDQwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODUlIiBzdG9wLWNvbG9yPSIjOTQwYTBhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left,  rgba(125,185,232,1) 0%, rgba(213,78,78,1) 0%, rgba(212,0,0,1) 39%, rgba(148,10,10,1) 85%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(125,185,232,1)), color-stop(0%,rgba(213,78,78,1)), color-stop(39%,rgba(212,0,0,1)), color-stop(85%,rgba(148,10,10,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(125,185,232,1) 0%,rgba(213,78,78,1) 0%,rgba(212,0,0,1) 39%,rgba(148,10,10,1) 85%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(125,185,232,1) 0%,rgba(213,78,78,1) 0%,rgba(212,0,0,1) 39%,rgba(148,10,10,1) 85%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(125,185,232,1) 0%,rgba(213,78,78,1) 0%,rgba(212,0,0,1) 39%,rgba(148,10,10,1) 85%); /* IE10+ */
	background: linear-gradient(to right,  rgba(125,185,232,1) 0%,rgba(213,78,78,1) 0%,rgba(212,0,0,1) 39%,rgba(148,10,10,1) 85%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#940a0a',GradientType=1 ); /* IE6-8 */
	color: #FFF;
	float: right;
	text-shadow: 1px 1px #555;
}
.valentines-day-classic .wpcf7-submit:hover {
	background-color: transparent;
}
.valentines-day-classic .wpcf7-validation-errors {
	border: 1px solid #FF0000;
	background: rgba(255,255,255,0.7);
}



/**
 * Valentine's Day
 *
 * 1.2 - Roses
 * ----------------------------------------------------------------------------- 
 */
.valentines-day-roses {
	background: url(../images/vday-rose/rose-bg-50percent.png) 0 0 no-repeat;
	position: relative;
	min-height:380px;
	width: 270px;
	padding: 12px 0 0 200px;
	-wekit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}
.valentines-day-roses {
	clear: both;
}
.valentines-day-roses input,
.valentines-day-roses textarea {
	background: none;
	border: none;

}
.valentines-day-roses input {
	padding-bottom: 2px;
}
.valentines-day-roses input,
.valentines-day-roses input:hover,
.valentines-day-roses input:focus {
	border-bottom: 1px solid #490706;
}
.valentines-day-roses textarea {
	width: 215px;
	height: 140px;
	resize: none;
	padding-top: 0;
	line-height: 32px;
}
.valentines-day-roses p {
	margin-bottom: 10px;
}
.valentines-day-roses .letter-box {
	background:#826e50  url(../images/vday-rose/contact-bg.png) 0 0 no-repeat;
	width: 285px;
	margin: 62px 0 0 -50px;
	padding: 35px 15px 45px;
}
.valentines-day-roses .wpcf7-submit {
	position: absolute;
	bottom: 5px;
	right: 20px;
	border: none;
	padding: 7px 15px;
	color: #fff;
	box-shadow: none;
}
.valentines-day-roses input[type="submit"]:hover,
.valentines-day-roses input[type="submit"]:focus {
	background: #490706;
}
.valentines-day-roses .wpcf7-validation-errors,
.valentines-day-roses .wpcf7-mail-sent-ok {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
	border: none;
	left: 115px;
	position: absolute;
	top: 145px;
	width: 295px;
}
.valentines-day-roses .wpcf7-validation-errors {
	color: #ff0000;
}
.valentines-day-roses .wpcf7-mail-sent-ok {
	color: green;
}


/**
 * Valentine's Day
 *
 * 1.3 - Birds
 * ----------------------------------------------------------------------------- 
 */
.valentines-day-birds {
	position: relative;
	width: 280px;
	margin: 234px 0 301px 97px;
}
.valentines-day-birds-container {
	background:  url('../images/vday-birds/bg-middle.png') 63px 0 repeat-y;
	width: 486px;
	margin: 0 auto;
}
.valentines-day-birds .bg-header,
.valentines-day-birds .bg-bottom {
	width: 486px;
}
.valentines-day-birds .bg-header {
	background:  url('../images/vday-birds/bg-top.png') 25px 0 no-repeat;
	height: 234px;
	left: -97px;
	position: absolute;
	top: -234px;
}
.valentines-day-birds .bg-bottom {
	background:  url('../images/vday-birds/bg-bottom.png') 0 0 no-repeat;
	bottom: -301px;
	height: 301px;
	left: -97px;
	position: absolute;
}
.valentines-day-birds p {
	margin: 0;
}
.valentines-day-birds input,
.valentines-day-birds textarea {
	background: none;
	border: 2px dashed #000;
	resize:vertical;
}
.valentines-day-birds textarea {
	height: 120px;
}
.valentines-day-birds input:hover,
.valentines-day-birds textarea:hover,
.valentines-day-birds input:focus,
.valentines-day-birds textarea:focus {
	border: 2px dashed #000;
}
.valentines-day-birds input {
	margin-bottom: 5px;
}
.valentines-day-birds input[type="submit"] {
	font-size: 30px;
	color: #444;
	text-transform: capitalize;
	border: none;
	box-shadow: none;
	background: transparent;
	display: block;
	margin: 0 auto;
}
.valentines-day-birds input[type="submit"]:hover,
.valentines-day-birds input[type="submit"]:focus {
	background: none;
	color: #000;
}
.valentines-day-birds div.wpcf7-response-output {
	width: 265px;
	margin: 0 0 0 -36px;
	border: none;
}
.valentines-day-birds .wpcf7-validation-errors {
	color: #ff0000;
}
.valentines-day-birds .wpcf7-mail-sent-ok {
	color: green;
}


 
/**
 * Valentine's Day
 *
 * 1.4 - Blue Birds
 * ----------------------------------------------------------------------------- 
 */ 
.valentines-day-blue-birds {
	position: relative;
	background: url("../images/vday-blue-birds/pattern.jpg") repeat;
	color: #100804;
}
.valentines-day-blue-birds .header {
    background: url("../images/vday-blue-birds/header.png") no-repeat top center;
    height: 260px;
    width: 100%;
}
.valentines-day-blue-birds input, 
.valentines-day-blue-birds textarea {
	width: 290px;
	display: inline-block;
	background-color: #dad3c2;
	border: none;
}
.valentines-day-blue-birds input:focus, 
.valentines-day-blue-birds textarea:focus {
	background-color: #dad3c2;
}
.valentines-day-blue-birds .wpcf7-submit {
	background: url("../images/vday-blue-birds/submit.png") no-repeat top right;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	display: inline;
	text-transform: none;
	width: auto;
	position: absolute;
	top: 50px;
	right: 20px;
	color: #100804;
	box-shadow: none;	
}
.valentines-day-blue-birds span.wpcf7-not-valid-tip,	
.valentines-day-blue-birds .wpcf7-submit:hover {
	color: #7f2a3a;
}
 
.valentines-day-blue-birds textarea {
	height: 75px;
}
.valentines-day-blue-birds p {
	width: 290px;
	margin: 7px auto;
	position: relative;
}
.valentines-day-blue-birds .footer {
    background: url("../images/vday-blue-birds/footer.png") no-repeat bottom center;
    height: 145px;
    width: 100%;
}
.valentines-day-blue-birds div.wpcf7-mail-sent-ok,
.valentines-day-blue-birds div.wpcf7-validation-errors {
	border: none;
	background: rgba( 127, 42, 58, .9 );
	position: absolute;
	bottom: 0;
	color: #fff;
	margin: 0;
	padding: 10px 20px;
	right: 0;
}
.valentines-day-blue-birds div.wpcf7-mail-sent-ok {
	background: rgba( 9, 94, 0, .9 );
}
 


/**
 * Xmas
 *
 * 2.1 - Classic
 * ----------------------------------------------------------------------------- 
 */
.christmas-classic {
	position: relative;
}
.christmas-classic-container {
    background: url("../images/xmas-classic/bg-repeat.png") repeat-y scroll 1px 1px rgba(0, 0, 0, 0);
    display: block;
    margin: auto;
    margin-bottom: 260px;
    text-align: center;
    width: 403px;
}
.christmas-classic .header {
    background: url("../images/xmas-classic/top_border.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 23px;
    width: 100%;
}
.christmas-classic .left {
    background: url("../images/xmas-classic/left_part_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    height: 129px;
    left: -73px;
    position: absolute;
    width: 99px;
}
.christmas-classic p {
    color: #482C09;
    margin-bottom: 20px;
    margin-left: 27px;
    width: 350px;
}
.christmas-classic span {
    display: block;
}
.christmas-classic .footer {
    background: url("../images/xmas-classic/bottombg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    height: 255px;
    margin-left: -70px;
    width: 474px;
    position: absolute;
    bottom: -255px;
}
.christmas-classic input, 
.christmas-classic textarea {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius: 4px;
	background-color: #f3eadf;
	border: 1px dotted #b2a28e;
}
.christmas-classic input {
	height: 28px;
	padding: 3px 5px;
	line-height: 28px;
}
.christmas-classic input:focus, 
.christmas-classic textarea:focus {
	background-color: #f3eadf;
	border: 1px dotted #b2a28e;
}
.christmas-classic .wpcf7-form-control-wrap input, 
.christmas-classic .wpcf7-form-control-wrap textarea {
	display: block;
	width: 100%;
}
.christmas-classic form textarea {
	resize: vertical;
	margin-bottom: 10px;
}

.christmas-classic .wpcf7-submit {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	bottom: -252px;
	height: 70px;
	left: 2px;
	position: absolute;
	text-indent: -9999px;
	width: 78px;
	z-index: 10;
}



/**
 * Xmas
 *
 * 2.2 - Red
 * ----------------------------------------------------------------------------- 
 */
.christmas-red-container {
	color: #fff;	
	font-size: 25px;
	width: 600px;
	margin: 0 auto;	
	background: url( ../images/xmas-red/middle.png ) repeat-y top center;
	position: relative;
}
.christmas-red {
	margin: 94px 0 125px;
}
.christmas-red .header {
	display: block;
	background: url( ../images/xmas-red/header.png ) no-repeat 32px top;	
	width: 600px;
	height: 94px;
	position: absolute;
	top: -94px;
}
.christmas-red .footer {
	display: block;
	background: url( ../images/xmas-red/footer.png ) no-repeat top center;	
	width: 600px;
	height: 94px;
	bottom: -94px;
	position: absolute;
}
.christmas-red p {
	width: 370px;
	margin: 0 auto;
}
.christmas-red input,
.christmas-red textarea {
	color: #222;
	width: 100%;
	font-size: 16px;	
}
.christmas-red input:focus,
.christmas-red textarea:focus {
	background-color: #fff;
}
.christmas-red textarea {
	height: 120px;
	resize: vertical;	
}
.christmas-red .wpcf7-submit {
	display: block;
	width: 232px;
	height: 126px;
	background: url(../images/xmas-red/send.png) no-repeat top center;
	position: absolute;
	bottom: -125px;
	right: 0;
	text-indent: -9999px;
	border: none;
	z-index: 10;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.christmas-red .wpcf7-validation-errors,
.christmas-red .wpcf7-mail-sent-ok,
.christmas-classic-validation-errors,
.christmas-classic-mail-sent-ok{
	border: none;
	width: 350px;	
	font-size: 22px;
	color: #FC8181;
	margin-left: 25px;
	padding: 0;
}
.christmas-red .wpcf7-mail-sent-ok,
.christmas-classic-mail-sent-ok {
	color: #73C94E;	
}
.christmas-red span.wpcf7-not-valid-tip,
.christmas-classic span.wpcf7-not-valid-tip {
	left: 0;
	top: 0;	
	padding: 5px 10px;
	width: 368px;
	font-size: 16px;
	border: none;
	display: block;
	color: #FC8181;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}
.christmas-red span.wpcf7-list-item {
	display: inline-block;	
	height: 32px;
}
.christmas-red .wpcf7-radio .wpcf7-list-item {
	background: url(../images/xmas-red/radio.png) no-repeat 0 6px;
}
.christmas-red .wpcf7-radio .wpcf7-list-item.active {
	background-position: 0 -27px;
}
.christmas-red .wpcf7-radio .wpcf7-list-item-label {
	display: inline-block;
	vertical-align: top;	
}
.christmas-red span.wpcf7-list-item input[type="radio"] {
	width: 30px;
	height: 30px;
	cursor: pointer;

  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape */
  -moz-opacity: 0;

  /* Safari 1.x */
  -khtml-opacity: 0;

  /* Good browsers */
  opacity: 0;
	
	/*position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0;
	border:0;*/
		
}
.christmas-red .wpcf7-response-output {
	position: relative;
	margin: 0 auto;
}



/**
 * Xmas
 *
 * 2.3 - Simple
 * ----------------------------------------------------------------------------- 
 */
.christmas-simple {
	width: 410px;
	padding: 50px 20px 15px 20px;
	margin-bottom: 20px;
	color: #1b0a00;
	position: relative;
	margin: 35px 0;
 
}
.christmas-simple-container {
	width: 425px;
	margin: 0 auto;
	border-left: dashed 2px #542c0e;
	border-right: dashed 2px #542c0e;
	background: url(../images/xmas-simple/middle.png) repeat-y center top;
}
.christmas-simple p {
	width: 325px;
	margin: 15px auto;
}
.christmas-simple p input[type="text"], 
.christmas-simple p input[type="email"], 
.christmas-simple p input[type="tel"],
.christmas-simple p textarea,
.christmas-simple p input[type="text"]:hover, 
.christmas-simple p input[type="email"]:hover, 
.christmas-simple p input[type="tel"]:hover,
.christmas-simple p textarea:hover,
.christmas-simple p input[type="text"]:focus, 
.christmas-simple p input[type="email"]:focus, 
.christmas-simple p input[type="tel"]:focus,
.christmas-simple p textarea:focus {
	width: 100%;
	background: transparent;
	border: dashed 2px #7d5f48;
}
.christmas-simple textarea {
	height: 110px;
	resize: vertical;
}
.christmas-simple .header,
.christmas-simple .footer {
	width: 425px;
	height: 35px;
	margin: 0 auto;
	background: url( '../images/xmas-simple/header.png' ) no-repeat center bottom;	
	border: dashed 2px #542c0e;
	border-bottom: none;
	position: absolute;
	left: -2px;
}
.christmas-simple .header {
	background-position: 1px 1px;
	border-radius: 12px 12px 0 0;
	left: -2px;
	top: -35px;
	width: 421px;
}
.christmas-simple .footer {
	background: url( '../images/xmas-simple/footer.png' ) no-repeat center top;
	border-bottom: 2px dashed #542c0e;
	border-radius: 0 0 20px 20px;
	border-top: medium none;
	bottom: -40px;
	padding-bottom: 3px;
	width: 421px;
}
.christmas-simple .ribbon {
	width: 182px;
	height: 202px;
	position: absolute;
	background: url( '../images/xmas-simple/ribbon.png' ) no-repeat;
	right: -118px;
	top: -85px;
}
.christmas-simple div.wpcf7-response-output {
	width: 360px;
	margin: 0 auto;
	border: none;
	color: #ee0000;	
}
.christmas-simple .wpcf7-submit {
	background: #e7e3d0;
	color: #555;	
	border-top: solid 1px #fff;
	font-size: 14px;
	padding: 9px 15px;
	height: 40px;
	-webkit-border-radius: 15px 18px 7px 9px;
	-moz-border-radius: 15px 18px 7px 9px;
	border-radius: 15px 18px 7px 9px;
	-webkit-box-shadow: -3px 3px 9px 1px #999;
	box-shadow: -3px 3px 9px 1px #999;
}
.christmas-simple input[type='submit']:hover {
	border-top: solid 1px #fff;
	background: #e7e3d0;
	color: #000;
}



/**
 *	Fix Error tooltips position
 */
.christmas-simple span.wpcf7-not-valid-tip {
	top: -4px;
	left: 2px;
	height: 30px;
	line-height: 30px;
	padding-left: 9px;
	width: 335px;
	color: #ee0000;
	background: #fff;
	border: none;
}
/*Christmas clasic - unique*/
.christmas-classic .wpcf7-not-valid-tip{
	width: 100%;
	background: transparent;
}