/**
 * Table of Contents:
 *
 * 1.0 - Valentine's Day
 *   1.1 - Classic
 *   1.2 - Roses
 *   1.3 - Birds
 *   1.4 - Blue Birds
 * 2.0 - Xmas Style
 *   2.1 - Classic
 *   2.2 - Red
 *   2.3 - Simple
 * ----------------------------------------------------------------------------- 
 */


 
/**
 * Valentine's Day
 *
 * 1.1 - Classic
 * ----------------------------------------------------------------------------- 
 */
.vday-classic .wpcf7 {
	background:  url('../images/vday-classic/hearted-bg.png') -45px 0 repeat;
	position: relative;
}
.vday-classic .wpcf7 .heart {
	position: absolute;
	right:0;
	background: url('../images/vday-classic/big-heart.png')  0 0 no-repeat;
	width: 136px;
	height: 135px;
	top:-90px;
}
.vday-classic .wpcf7 p {
	margin-bottom: 10px;
	text-shadow: 1px 1px #FFF;
}
.vday-classic .wpcf7 input,
.vday-classic .wpcf7 textarea {
	background: rgba(255,255,255,0.7);
	border: none;
	border-left: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-box-shadow: 5px 6px 10px -5px #999999;
	-moz-box-shadow: 5px 6px 10px -5px #999999;
	box-shadow: 5px 6px 10px -5px #999999;
	margin-top: 3px;
}
.vday-classic .wpcf7 .wpcf7-submit {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: none;
	padding: 20px;
	min-width: 90px;
	background: rgb(125,185,232); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDU0ZTRlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzklIiBzdG9wLWNvbG9yPSIjZDQwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODUlIiBzdG9wLWNvbG9yPSIjOTQwYTBhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left,  rgba(125,185,232,1) 0%, rgba(213,78,78,1) 0%, rgba(212,0,0,1) 39%, rgba(148,10,10,1) 85%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(125,185,232,1)), color-stop(0%,rgba(213,78,78,1)), color-stop(39%,rgba(212,0,0,1)), color-stop(85%,rgba(148,10,10,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(125,185,232,1) 0%,rgba(213,78,78,1) 0%,rgba(212,0,0,1) 39%,rgba(148,10,10,1) 85%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(125,185,232,1) 0%,rgba(213,78,78,1) 0%,rgba(212,0,0,1) 39%,rgba(148,10,10,1) 85%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(125,185,232,1) 0%,rgba(213,78,78,1) 0%,rgba(212,0,0,1) 39%,rgba(148,10,10,1) 85%); /* IE10+ */
	background: linear-gradient(to right,  rgba(125,185,232,1) 0%,rgba(213,78,78,1) 0%,rgba(212,0,0,1) 39%,rgba(148,10,10,1) 85%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#940a0a',GradientType=1 ); /* IE6-8 */
	color: #FFF;
	float: right;
	text-shadow: 1px 1px #555;
}
.vday-classic .wpcf7 .wpcf7-submit:hover {
	background-color: transparent;
}
.vday-classic .wpcf7 .wpcf7-validation-errors {
	border: 1px solid #FF0000;
	background: rgba(255,255,255,0.7);
}



/**
 * Valentine's Day
 *
 * 1.2 - Roses
 * ----------------------------------------------------------------------------- 
 */
.vday-roses .wpcf7 {
	background: url(../images/vday-rose/rose-bg-50percent.png) 0 0 no-repeat;
	position: relative;
	min-height:380px;
	width: 270px;
	padding: 17px 0 0 200px;
}
.vday-roses .wpcf7 form {
	clear: both;
}
.vday-roses .wpcf7 input,
.vday-roses .wpcf7 textarea {
	background: none;
	border: none;
}
.vday-roses .wpcf7 input {
	border-bottom: 1px solid #490706;
	padding-bottom: 2px;
}
.vday-roses .wpcf7 textarea {
	width: 215px;
	height: 140px;
	resize: none;
	padding-top: 0;
	line-height: 33px;
}
.vday-roses .wpcf7 p {
	margin-bottom: 10px;
}
.vday-roses .wpcf7 .letter-box {
	background:#826e50  url(../images/vday-rose/contact-bg.png) 0 0 no-repeat;
	width: 285px;
	margin: 72px 0 0 -50px;
	padding:35px 15px 45px;
}
.vday-roses .wpcf7 .wpcf7-submit {
	position: absolute;
	bottom: 5px;
	right: 20px;
	border: none;
	padding: 7px 15px;
	color: #fff;
	box-shadow: none;
}
.vday-roses .wpcf7 .wpcf7-submit:hover {
	background: #490706;
}
.vday-roses .wpcf7 .wpcf7-validation-errors,
.vday-roses .wpcf7 .wpcf7-mail-sent-ok {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
	border: none;
	left: 156px;
	position: absolute;
	top: 205px;
	width: 220px;
}
.vday-roses .wpcf7 .wpcf7-validation-errors {
	color: #ff0000;
}
.vday-roses .wpcf7 .wpcf7-mail-sent-ok {
	color: green;
}


/**
 * Valentine's Day
 *
 * 1.3 - Birds
 * ----------------------------------------------------------------------------- 
 */
.vday-birds .wpcf7 {
	position: relative;
	width: 486px;	
}
.vday-birds .wpcf7 form {
	background:  url('../images/vday-birds/bg-middle.png') 63px 0 repeat-y;
	width: 324px;
	padding-left: 125px;
}
.vday-birds .wpcf7 .bg-header,
.vday-birds .wpcf7 .bg-bottom {
	width: 486px;
}
.vday-birds .wpcf7 .bg-header {
	background:  url('../images/vday-birds/bg-top.png') 25px 0 no-repeat;
	height: 234px;
}
.vday-birds .wpcf7 .bg-bottom {
	background:  url('../images/vday-birds/bg-bottom.png') 0 0 no-repeat;
	height: 301px;
}
.vday-birds .wpcf7 p {
	margin: 0;
}
.vday-birds .wpcf7 input,
.vday-birds .wpcf7 textarea {
	background: none;
	width: 235px;
	border: 2px dashed #000;
	resize:vertical;
}
.vday-birds .wpcf7 input {
	margin-bottom: 5px;
}
.vday-birds .wpcf7 input[type="submit"] {
	font-size: 30px;
	color: #444;
	text-transform: capitalize;
	border: none;
	box-shadow: none;
}
.vday-birds .wpcf7 input[type="submit"]:hover {
	background: none;
	color: #000;
}
.vday-birds div.wpcf7-response-output {
	width: 265px;
	margin: 0 0 0 -36px;
	border: none;
}
.vday-birds .wpcf7-validation-errors {
	color: #ff0000;
}
.vday-birds .wpcf7-mail-sent-ok {
	color: green;
}


 
/**
 * Valentine's Day
 *
 * 1.4 - Blue Birds
 * ----------------------------------------------------------------------------- 
 */ 
.vday-blue-birds .wpcf7 {
	position: relative;
	background: url("../images/vday-blue-birds/pattern.jpg") repeat;
	color: #100804;
}
.vday-blue-birds .header {
    background: url("../images/vday-blue-birds/header.png") no-repeat top center;
    height: 260px;
    width: 100%;
}
.vday-blue-birds .wpcf7 form input, 
.vday-blue-birds .wpcf7 form textarea {
	width: 290px;
	display: inline-block;
	background-color: #dad3c2;
	border: none;
}
.vday-blue-birds .wpcf7 .wpcf7-submit {
	background: url("../images/vday-blue-birds/submit.png") no-repeat top right;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	display: inline;
	text-transform: none;
	width: auto;
	position: absolute;
	top: 50px;
	right: 20px;
	color: #100804;
	box-shadow: none;	
}
.vday-blue-birds span.wpcf7-not-valid-tip,	
.vday-blue-birds .wpcf7 .wpcf7-submit:hover {
	color: #7f2a3a;
}
 
.vday-blue-birds .wpcf7 form textarea {
	height: 75px;
}
.vday-blue-birds .wpcf7 p {
	width: 290px;
	margin: 7px auto;
	position: relative;
}
.vday-blue-birds .footer {
    background: url("../images/vday-blue-birds/footer.png") no-repeat bottom center;
    height: 145px;
    width: 100%;
}
.vday-blue-birds div.wpcf7-mail-sent-ok,
.vday-blue-birds div.wpcf7-validation-errors {
	border: none;
	background: rgba( 127, 42, 58, .9 );
	position: absolute;
	bottom: 0;
	color: #fff;
	margin: 0;
	padding: 10px 20px;
	right: 0;
}
.vday-blue-birds div.wpcf7-mail-sent-ok {
	background: rgba( 9, 94, 0, .9 );
}
 


/**
 * Xmas
 *
 * 2.1 - Classic
 * ----------------------------------------------------------------------------- 
 */
.xmas-classic .wpcf7 {
	position: relative;
}
.xmas-classic .wpcf7 form {
    background: url("../images/xmas-classic/bg-repeat.png") repeat-y scroll 1px 1px rgba(0, 0, 0, 0);
    display: block;
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.xmas-classic .header {
    background: url("../images/xmas-classic/top_border.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 23px;
    width: 100%;
}
.xmas-classic .left {
    background: url("../images/xmas-classic/left_part_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 255px;
    height: 129px;
    left: -73px;
    position: absolute;
    width: 99px;
}
.xmas-classic .wpcf7 p {
    color: #482C09;
    margin-bottom: 20px;
    margin-left: 27px;
    width: 350px;
}
.xmas-classic .wpcf7 span {
    display: block;
}
.xmas-classic .footer {
    background: url("../images/xmas-classic/bottombg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    height: 255px;
    margin-left: -70px;
    width: 100%;
}
.xmas-classic .wpcf7 form input, 
.xmas-classic .wpcf7 form textarea {
	display: inline-block;
*display: inline;
*zoom: 1;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius: 4px;
	background-color: #f3eadf;
	border: 1px dotted #b2a28e;
}
.xmas-classic .wpcf7 form input {
	height: 28px;
	padding: 3px 5px;
	line-height: 28px;
}
.xmas-classic .wpcf7 .wpcf7-form-control-wrap input, 
.xmas-classic .wpcf7 .wpcf7-form-control-wrap textarea {
	display: block;
	width: 100%;
}
.xmas-classic .wpcf7 form textarea {
	resize: vertical;
	margin-bottom: 10px;
}

.xmas-classic .wpcf7 .wpcf7-submit {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	bottom: 20px;
	height: 54px;
	left: 30px;
	position: absolute;
	text-indent: -9999px;
	width: 78px;
}



/**
 * Xmas
 *
 * 2.2 - Red
 * ----------------------------------------------------------------------------- 
 */
.xmas-red .wpcf7 {
	width: 600px;
	color: #fff;	
	font-size: 25px;
}
.xmas-red .wpcf7 form {
	width: 600px;
	margin: 0 auto;	
	background: url(../images/xmas-red/middle.png) repeat-y top center;
	position: relative;
}
.xmas-red .wpcf7 .header {
	display: block;
	background: url(../images/xmas-red/header.png) no-repeat 32px top;	
	width: 600px;
	height: 94px;
}
.xmas-red .wpcf7 .footer {
	display: block;
	background: url(../images/xmas-red/footer.png) no-repeat top center;	
	width: 600px;
	height: 94px;
	margin-top: -10px;
}
.xmas-red .wpcf7 p {
	width: 370px;
	margin: 0 auto;
}
.xmas-red .wpcf7 input,
.xmas-red .wpcf7 textarea {
	color: #222;
	width: 100%;
	font-size: 16px;	
}
.xmas-red .wpcf7 textarea {
	height: 120px;
	resize: vertical;	
}
.xmas-red .wpcf7 .wpcf7-submit {
	display: block;
	width: 232px;
	height: 126px;
	background: url(../images/xmas-red/send.png) no-repeat top center;
	position: absolute;
	bottom: -125px;
	right: 0;
	text-indent: -9999px;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.xmas-red .wpcf7-validation-errors,
.xmas-red .wpcf7-mail-sent-ok,
.xmas-classic .wpcf7-validation-errors,
.xmas-classic .wpcf7-mail-sent-ok{
	border: none;
	width: 350px;	
	font-size: 22px;
	color: #FC8181;
	margin-left: 25px;
	padding: 0;
}
.xmas-red .wpcf7-mail-sent-ok,
.xmas-classic .wpcf7-mail-sent-ok {
	color: #73C94E;	
}
.xmas-red span.wpcf7-not-valid-tip,
.xmas-classic span.wpcf7-not-valid-tip {
	left: 0;
	top: 0;	
	padding: 5px 10px;
	width: 368px;
	font-size: 16px;
	border: none;
	display: block;
	color: #FC8181;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}
.xmas-red span.wpcf7-list-item {
	display: inline-block;	
	height: 32px;
}
.xmas-red .wpcf7-radio .wpcf7-list-item {
	background: url(../images/xmas-red/radio.png) no-repeat 0 6px;
}
.xmas-red .wpcf7-radio .wpcf7-list-item.active {
	background-position: 0 -27px;
}
.xmas-red .wpcf7-radio .wpcf7-list-item-label {
	display: inline-block;
	vertical-align: top;	
}
.xmas-red span.wpcf7-list-item input[type="radio"] {
	width: 30px;
	height: 30px;
	cursor: pointer;

  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape */
  -moz-opacity: 0;

  /* Safari 1.x */
  -khtml-opacity: 0;

  /* Good browsers */
  opacity: 0;
	
	/*position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0;
	border:0;*/
		
}
.xmas-red .wpcf7 .wpcf7-response-output {
	position: relative;
	margin: 0 auto;
}



/**
 * Xmas
 *
 * 2.3 - Red
 * ----------------------------------------------------------------------------- 
 */
.xmas-simple .wpcf7 {
	width: 570px;
	padding: 50px 20px 15px 20px;
	margin-bottom: 20px;
	color: #1b0a00;
	position: relative;
 
}
.xmas-simple .wpcf7 form {
	width: 425px;
	margin: 0 auto;
	padding: 20px;
	border-left: dashed 2px #542c0e;
	border-right: dashed 2px #542c0e;
	background: url(../images/xmas-simple/middle.png) repeat-y center top;
}
.xmas-simple .wpcf7 p {
	width: 250px;
	margin: 15px auto;
}
.xmas-simple .wpcf7 p input[type="text"], .xmas-simple .wpcf7 p input[type="email"], .xmas-simple .wpcf7 p input[type="tel"], .xmas-simple .wpcf7 p textarea {
	width: 100%;
	background: transparent;
	border: dashed 2px #7d5f48;
}
.xmas-simple .wpcf7 textarea {
	height: 110px;
	resize: vertical;
}
.xmas-simple .wpcf7 .header,
.xmas-simple .wpcf7 .footer {
	width: 425px;
	height: 17px;
	margin: 0 auto;
	padding: 20px 20px 0 20px;
	background: url( '../images/xmas-simple/header.png' ) no-repeat center bottom;	
	border: dashed 2px #542c0e;
	border-bottom: none;
}
.xmas-simple .wpcf7 .footer {
	border-top: none;
	border-bottom: dashed 2px #542c0e;
	background: url( '../images/xmas-simple/footer.png' ) no-repeat center top;
	padding-bottom: 10px;
}
.xmas-simple .wpcf7 .ribbon {
	width: 182px;
	height: 202px;
	position: absolute;
	background: url( '../images/xmas-simple/ribbon.png' ) no-repeat;
	top: 0;
	right: 0;
}
.xmas-simple div.wpcf7-response-output {
	width: 250px;
	margin: 0 auto;
	border: none;
	color: #ee0000;	
}
.xmas-simple .wpcf7-submit {
	background: #e7e3d0;
	color: #1b0a00;	
	border-top: solid 1px #fff;
	font-size: 14px;
	padding: 9px 15px;
	height: 40px;
	-webkit-border-radius: 15px 18px 7px 9px;
	-moz-border-radius: 15px 18px 7px 9px;
		 border-radius: 15px 18px 7px 9px;
    -webkit-box-shadow: -3px 3px 9px 1px #999;
		    box-shadow: -3px 3px 9px 1px #999;
}



/**
 *	Fix Error tooltips position
 */
.xmas-simple span.wpcf7-not-valid-tip {
	top: -4px;
	left: 2px;
	height: 30px;
	line-height: 30px;
	padding-left: 9px;
	width: 245px;
	color: #ee0000;
	background: #fff;
	border: none;
}
/*Christmas clasic - unique*/
.xmas-classic .wpcf7-not-valid-tip{
	width: 100%;
	background: transparent;
}